.save,.setting{
    visibility: hidden;
}
html,body{
    height: 100vh !important;
}
img,.sablon4,.sablon5{
    height: 60vh !important;
    width: 100% !important;
    
}
.carousel-item img{
    display:block;
    max-width: 100%;
    height: auto;
}
p{
    margin-top: 0px !important;
}
@media only screen and(max-width:575px) {
    p{
        margin-top: 25px !important;
    }
}

.sablon2-p{
    overflow-y:auto;
    overflow-wrap: break-word;
    overflow-x: hidden;
    max-height: 60vh !important;
    
}
